body{
	font-family: 'Raleway', sans-serif; 
	p{
		margin-bottom: 0;
	}
}
header#site-header {
	max-width: 1366px;
	position: relative;
	background-image:linear-gradient(300deg, rgba(13, 133, 225, 0.902) 0%, rgba(14, 67, 107, 0.9) 100%);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
	height: 520px;
	display: flex;
	justify-content: center;
	// align-items: center;
	overflow: hidden;
	margin: 0 auto;
	.menu-wrap{
		#hamburger{
			right: 30px;
		}
	
		ul li{
			padding-top:34px;
			padding-left: 10px;
			
		}
	}
	.main-menu{
		padding-right: 0;
		font-size: 13px;
		line-height: 15px;
		position: relative;
		
		padding-left: 100px;
		
	}
	.main-bg{
		width: 100%;
		background-image: url(./assets/img/Image1.png)  ;
	
	}
	.nav-box{
		width: 100%;
		position: relative;
		margin-top: 10px;
	}
    .button-mediulas a{
        padding: 0;
	}
	.button-mediulas{
		ul li{
			display: inline-block;
			font-size: 10px;
			line-height: 11px;
			opacity: 60%;
		}
		.lang-item-before::before {
			content: '/'; 
			font-size: 10px;
			line-height: 11px;
			opacity: 60%;
		}
	}
	.elpise-one{
		position: absolute;
		top:430px;
		width: 2530px;
	}
	.elpise-one-product{
		position: absolute;
		width: 2560px;
		top:200px
	
		
	}
	input{
		width: 185px;
		height: 29px;
		background: none;
		border: 1px solid #fff;
		border-radius: 20px;
		opacity: 70%;
		font-size: 12px;
		line-height: 14px;
		padding-left: 15px;
	}

	.fixed-nav & {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: .3s ease-out;
		z-index: 100;
	}
	a{
		color: #fff;
		padding:10px 0 10px 34px; 
	}
	a:hover{
		opacity: 70%;
	}
.header-title{
	display: flex;
	flex-wrap: wrap;
	padding-top: 112px;
	padding-left: 100px;
	h1{
		
		font-size: 54px;
		color: #fff;
		line-height: 27px;
		font-weight: 100;
	}
	.header-title-small-p{

	}
	p{
		font-size: 24px;
		color: #fff;
		padding-left: 45px;
		line-height: 21px;
		font-weight: 100;

	}
}
	.fixed-nav.scrolled & {
		background: #fff;
	}
	
	.header-wrap {
		min-height: $header-height;
		padding-top: .5rem;
		padding-bottom: .5rem;
		
		.fixed-nav & {
			transition: 0.3s ease-out;
		}
		.fixed-nav.scrolled & {
			min-height: $header-height-scrolled;
		}
	
	}
	.logo-wrap {
		margin-top: 20px;
	}
}

.button-mediulas{
	display: flex;
	justify-content: center;
	position: absolute;
	top:-10px;
	right: 10px;
	z-index: 999999999999999999999999999999;
	
	p{
		font-size: 10px;
		text-align: center;
		line-height: 11px;
		padding: 10px 10px;
		color: #fff;
		opacity: 70%;
	}
	button{
		width: 118px;
		height: 29px;
		font-size: 12px;
		line-height: 14px;
		background-color: #48BDE9;
		border-radius: 20px;
		padding: 5px;
		margin-right: 27px;
        color: #fff;
        
		img{
			margin-left: 5px;
        }
      
	}
}
header#site-header .header-wrap{
	padding-top:30px;
}
.search-menu{
	position: relative;
	img{
		width: 17px;
		position: absolute;
		top:5px;
		right: 15px;
	}
	
}

main#site-wrap{
	position: relative;
	top:-50px;
    // img{
    //     position: absolute;
    //     z-index: 1;
    //     top:-100px
    // }
}
.grid-container{
    overflow: hidden;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.large-6{
	width: 50%;
	.main-text-index{
		padding-right: 120px;
	}
}

.data{
    padding-top: 19px;
    font-size: 12px;
	line-height: 15px;
	color: #707070;
	opacity: 70%;
}
.title-data{
    font-size: 13px;
    line-height: 21px;
    color: #1C69A4;
}
.text-main{
    font-size: 13px;
    line-height: 15px;
    color: #707070;
}
.photo-box{	
	width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .card-section{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;

    }
}
.card{
 padding: 10px;
 img{
	 width: 100%;
 }


}

.box-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

.card-box{
	width: 25%;
	display: block;
	justify-content: center;
	align-items: center;
	padding: 8px;
    
    .card-image{
        width: 100%;
        height: 200px;
		background-color: #E8E8E8;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.card-title{
		padding-top: 18px;
		width: 100%;
		text-align: left;
		font-size: 13px;
		line-height: 21px;
		width: 100%;
		img{
			position: relative;
			width: 100%;
		}
	}


}
.box{
	display: flex;
}
}
.box-description{
	width: 50%;
}
.descripction{
	position: relative;
	margin-top: 50px;
	overflow: hidden;
	max-width: 1366px;
	overflow: hidden;
	margin: 0 auto;
}
.description-bg-box{
background-image: url(../assets/img/Intersection2.jpg);
   height: 430px;
}

.elpise-one-product-main{
	position: absolute;
	width: 2530px;
	top:400px	
}
.container-description{
	max-width: 1366px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-wrap: wrap;
	margin-top: 155px;
	margin-bottom: 155px;
	overflow: hidden;
	z-index: 9999;
	
	
}
.description-elpise-2{
	position: relative;
	img{
		
		position: absolute;
		z-index: -1;
		left: -1988px;
		top:262px;
	}
}
.description-elpise-3{
	position: relative;
	img{
		position: absolute;
		z-index: -10;
		top:-312px;
		left: 968px;
	}
}

.container-main-photo{
	padding-top: 50px;
	.container-main-photo-button{
		margin: 0 auto;
		display: flex;
		justify-content: center;
		padding-top: 25px;
		z-index: 9999999;
		padding-bottom: 42px;
		a{
			color: #38A69A;
		font-size: 10px;
		line-height: 15px;
		font-weight: bold;
		text-transform: uppercase;
		
		}
		img{
			color: #38A69A;
			padding-left: 9px;
			padding-bottom: 2px;
		}
		a:hover{
			opacity: 70%;
		}
	}
	.container-main-photo-title{
		font-size: 54px;
		font-weight: 100;
		color: #38A69A;
		line-height: 27px;
		padding-top: 30px;
		text-align: center;
	}
	p{
		color: #707070;
		font-size: 13px;
		line-height: 21px;
		padding: 0;
	}
	.container-main-photo-title-p{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;;
		width: 50%;
		padding-top: 13px;
		padding-bottom: 16px;
	
}

}
.descripction-small-box{
	padding-left:90px ;
	padding-right: 200px;
	margin: auto ;
	
	p{
		font-size: 13px;
		line-height: 21px;
		padding-bottom: 25px;
	}
	img{
		padding-left: 9px;
		padding-bottom: 2px;
	}

	a{
		color: #1C69A4;	
		font-size: 10px;
		line-height: 15px;
		font-weight: bold;
		text-transform: uppercase;
		
	}
	a:hover{
		opacity: 70%;
	}
	.descripction-small-box-title{
		font-size: 54px;
		color: #1C69A4;
		line-height: 27px;
		padding-bottom: 25px;
		span{
			font-weight: 100;
		}
		
	}
	.descripction-small-box-title-p{
	font-size: 13px;
	line-height: 21px;
	color: #707070;
	padding-top:25px;
	}

}
.small-box{
	display: flex;
	justify-content: center;
	align-items: center;
	
}


@media(max-width:1000px){
    .box-container .card-box{
        width: 50%;
}}



/***********************************  sorter  ************************************************/
.sorter{
	background-image: url(../assets/img/Intersection3.jpg);
	height: 232px;
}
.list-sorter{
	p{
		color: #1C69A4;
		font-size: 13px;
		line-height: 21px;
	}
	ul li{
	
		font-size: 13px;
		line-height: 21px;
		
	}
	.black{
		color: #707070;
		padding-top: 23px;
		padding-bottom: 17px;
	}
}
@media(max-width:1100px){
	.button-mediulas{
		display: none;
	}
	.container-main-photo .container-main-photo-title-p{
		width: 80%;
	}
	.description-elpise-2{
		position: relative;
		img{
			
			position: absolute;
			z-index: -1;
			left: -2200px;
			top:262px;
		}
	}
}

@media(max-width:700px){
	.description-elpise-2{
		position: relative;
		img{
			
			position: absolute;
			z-index: -1;
			left: -2500px;
			top:262px;
		}
	}
}
@media(max-width:916px){
.header-title-small-p{
		padding-top: 50px;
		text-align: left;
	}
	header#site-header .header-title p{
		padding-left: 0;
	}
}

