.card-title{
    .data{
        font-size: 12px;
        line-height: 15px;
        color: #707070;
    }
    .title-aktualnosci{
        color: #1C69A4;
        font-size: 13px;
        line-height: 16px;
    }
    .text-aktualnosci{
        padding-bottom: 52px;
    } 
}

.aktualnosci-header{
    .title-aktualnosci-p{
        font-size: 54px;
        font-weight: 100;
        color: #707070;
        line-height: 27px;
        padding-top:30px;
        padding-bottom: 20px;
    }
    .aktualnosci{
        
        color: #707070;
        font-size: 24px;
        line-height: 21px;
        font-weight: 100;
        padding-top: 8px;
      
}

}
.box-container .card-box{
    padding-right: 52px;
    padding-left:0;
}




/****************************************Page2**********************************/
.grid-x>.large-7{
    width: 66%;
}
.serch-box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    a{
        color: #38A69A;
        font-size: 10px;
        line-height: 15px;
    }
}
.photo-box{
    h4{
        font-size: 20px;
        line-height: 27px;
        font-weight: 100;
        color: #38A69A;
    }
    p{
        font-size: 13px;
        line-height: 21px;
        padding-top: 14px;
        padding-right: 50px;
        color: #707070;
    }
}
.list-sorter{
    p{
        color: #1C69A4;
        font-size: 13px;
        line-height: 21px;
        padding-bottom:31px ;
    }
    ul li{
        color: #707070;
        font-size: 13px;
        line-height: 21px;
    }
}



/************************************Onas*************************************/

.title-onas-p{
    font-size: 54px;
    font-weight: 100;
    color: #707070;
    line-height: 27px;
    padding-top:30px;
    padding-bottom: 15px;
}
.title-onas-p-two{
    color: #707070;
    font-size: 24px;
    line-height: 21px;
    font-weight: 100;
    padding: 9px 0;
}
.container-description{
    margin-top: 93px;
}
.container-description-onas{
    margin-bottom: 0;
}