section{
    z-index: 1;
    overflow: none;
    .card-box{
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .title-page-p{
        font-size: 54px;
        font-weight: 100;
        color: #707070;
        line-height: 27px;
        padding-bottom: 100px;
        padding-top:30px;
    }
    ul{
        margin: 0;
    }
    .menu-list ul li{
        color: #1C69A4;
        list-style: none;
        font-size: 13px;
        line-height: 15px;
        font-weight: 500;
        padding: 10px 0;
        text-transform: uppercase;
    }
   
}


.product-page1{
    width: 100%;
    position: relative;
    top:-260px;
    margin-bottom: -160px;
   
}
.product-page1-photo{
    background-color: #E8E8E8;
    width: 200px;
    height: 191px;
}

.menu-list{
  p{
        font-size: 24px;
        line-height: 21px;
        color: #707070;
        font-weight: 100;
        padding-bottom: 15px;
    }
}
.serch-box{
    position: relative;
    width: 100%;
    opacity: 70%;
    top:-18px;
   
    input{
        opacity: 70%;
    border: none;
    border-bottom: 1px solid #707070 ;
    font-size: 24px;
    font-weight: 100;
 
    }
    input:active{
        border:none;
        border-bottom: 1px solid #707070 ;
    }
    input:focus{
        border:none;
        border-bottom: 1px solid #707070 ;
    }
    img{
        position: absolute;
        top:10px;
        right: 0;
    }
}

footer{
    overflow: hidden;
    max-width: 1366px;
    margin: 0 auto;
   
}

.footer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    overflow: hidden;
    p{
       padding-left: 36px;
       font-size: 13px;
       height: 21px;
       color: #707070;
    }
    img{
        position: relative;
        width: 301px;
        height: 51px;
    }
    a{
        color: #1C69A4;
    }
}
.photo-box-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header#site-header .header-wrap{
	padding-top:30px;
}
.search-menu{
    position: relative;
   
	img{
		width: 17px;
		position: absolute;
		top:5px;
		right: 15px;
	}
	
}
.descripction-text{
    padding: 0 15px;
}
.elipse-bottom{
    position: relative;
    
    img{
        position: absolute;
        width: 2500px;
        height: auto;
        z-index: 1;
        bottom: -575px;
        right:-1946px;
    }
}
.button-mediulas-other{
    top:20px;
}
