* {
	outline: none;
}

body {
	
}

@include breakpoint(medium up){
	.alignright {float:right; margin:0 0 1em 1em}
	.alignleft {float:left; margin:0 1em 1em 0}
}
.aligncenter {display: block; margin-left: auto; margin-right: auto}


a {
	transition: all .3s ease-in-out;
}

.clearfix {
	&:before,
	&:after {
    display: table;
    content: ' '
	}
	&:after {
		clear: both;
	}
}

.material-icons {
	font-size: 1.5em;
}

#site-wrap {
	overflow: hidden;
	.fixed-nav & {
		padding-top: 80px;
	}
}
